<form action="/update/<%= @post.id %>" method="post">

  제목: <input type="text" name="title" value="<%= @post.title %>"/><br>
  내용: <textarea name="content"><%= @post.content %></textarea><br>
  <input type="submit" value="수정하기" />


</form>
<hr>

<a href="/">뒤로가기</a>