<form action="/reply_update/<%= @reply.id %>" method="post" style="background-color:#ccc;">

  <textarea name="content"><%= @reply.content %></textarea><br>
  <input type="submit" value="수정하기" />

</form>
<hr>

<a href="/">뒤로가기</a>